@{ 
    ViewBag.Title = "电子元器件商城";
}
<div class="PageTemplateControl_4" id="id_PageTemplateControl_3_1_container">

    <div class="pilSubCon" id="pilSubCon">
        <div class="title"><i></i><h2 style="">热销产品</h2> <a class="more" href="~/home/GetPage/产品">更多 &gt;</a></div>
        <ul>

            <li>
                <div>
                    <a title="MSP-EXP430G2  MSP-EXP430G2 " class="img" id="ctl00_pilSubCon_rptShowProList_ctl00_lnkImg" href="@Url.Action("ProductInformation",new { ID="MSPEXP430G2"})" target="_blank"><img class="ImgProduct" id="ctl00_pilSubCon_rptShowProList_ctl00_img" onload="ResizeImage_Special(this,148,148);" alt="MSP-EXP430G2  MSP-EXP430G2 " src="@Url.Content("~/images/product/2015081010450621.jpg")" border="0"></a>
                </div>
                <div class="maxLen">
                    <a title="MSP-EXP430G2  MSP-EXP430G2 " class="link" id="ctl00_pilSubCon_rptShowProList_ctl00_hlkTitle" href="@Url.Action("ProductInformation",new { ID="MSPEXP430G2"})" target="_blank">MSP-EXP430G2</a>
                </div>
            </li>

            <li>
                <div><a title="  MSP430G2553   MSP430G2553" class="img" id="ctl00_pilSubCon_rptShowProList_ctl01_lnkImg" href="@Url.Action("ProductInformation",new { ID="MSP430G2553"})" target="_blank"><img class="ImgProduct" id="ctl00_pilSubCon_rptShowProList_ctl01_img" onload="ResizeImage_Special(this,148,148);" alt="  MSP430G2553   MSP430G2553" src="@Url.Content("~/images/product/2015081010421045.jpg")" border="0"></a></div>
                <div class="maxLen">
                    <a title="  MSP430G2553   MSP430G2553" class="link" id="ctl00_pilSubCon_rptShowProList_ctl01_hlkTitle" href="@Url.Action("ProductInformation",new { ID="MSP430G2553"})" target="_blank">  MSP430G2553</a>
                </div>
            </li>

            <li>
                <div><a title="AD1672AP AD1672AP" class="img" id="ctl00_pilSubCon_rptShowProList_ctl02_lnkImg" href="@Url.Action("ProductInformation",new { ID="AD1672AP"})" target="_blank"><img class="ImgProduct" id="ctl00_pilSubCon_rptShowProList_ctl02_img" onload="ResizeImage_Special(this,148,148);" alt="AD1672AP AD1672AP" src="@Url.Content("~/images/product/2015081010474618.jpg")" border="0"></a></div>
                <div class="maxLen">
                    <a title="AD1672AP AD1672AP" class="link" id="ctl00_pilSubCon_rptShowProList_ctl02_hlkTitle" href="@Url.Action("ProductInformation",new { ID="AD1672AP"})" target="_blank">AD1672AP </a>
                </div>
            </li>

            <li>
                <div><a title="开发板OK 6410 OK 6410" class="img" id="ctl00_pilSubCon_rptShowProList_ctl03_lnkImg" href="@Url.Action("ProductInformation",new { ID="开发板OK6410"})" target="_blank"><img class="ImgProduct" id="ctl00_pilSubCon_rptShowProList_ctl03_img" onload="ResizeImage_Special(this,148,148);" alt="开发板OK 6410 OK 6410" src="@Url.Content("~/images/product/2015041513520502.jpg")" border="0"></a></div>
                <div class="maxLen">
                    <a title="开发板OK 6410 OK 6410" class="link" id="ctl00_pilSubCon_rptShowProList_ctl03_hlkTitle" href="@Url.Action("ProductInformation",new { ID="开发板OK6410"})" target="_blank">开发板OK 6410 OK 6410</a>
                </div>
            </li>

            <li>
                <div><a title="Tektronix MDO3104 + MDO3SA 混合信号示波器 Tektronix MDO3104 + MDO3SA 混合信号示波器" class="img" id="ctl00_pilSubCon_rptShowProList_ctl04_lnkImg" href="@Url.Action("ProductInformation",new { ID="TektronixMDO3104MDO3SA混合信号示波器"})" target="_blank"><img class="ImgProduct" id="ctl00_pilSubCon_rptShowProList_ctl04_img" onload="ResizeImage_Special(this,148,148);" alt="Tektronix MDO3104 + MDO3SA 混合信号示波器 Tektronix MDO3104 + MDO3SA 混合信号示波器" src="@Url.Content("~/images/product/2015041517034172.jpg")" border="0"></a></div>
                <div class="maxLen">
                    <a title="Tektronix MDO3104 + MDO3SA 混合信号示波器 Tektronix MDO3104 + MDO3SA 混合信号示波器" class="link" id="ctl00_pilSubCon_rptShowProList_ctl04_hlkTitle" href="@Url.Action("ProductInformation",new { ID="TektronixMDO3104MDO3SA混合信号示波器"})" target="_blank">Tektronix MDO3104 + MDO3SA 混合信号示波器</a>
                </div>
            </li>

            <li>
                <div><a title="MDO3012混合域示波器 MDO3012混合域示波器" class="img" id="ctl00_pilSubCon_rptShowProList_ctl05_lnkImg" href="@Url.Action("ProductInformation",new { ID="MDO3012混合域示波器"})" target="_blank"><img class="ImgProduct" id="ctl00_pilSubCon_rptShowProList_ctl05_img" onload="ResizeImage_Special(this,148,148);" alt="MDO3012混合域示波器 MDO3012混合域示波器" src="@Url.Content("~/images/product/2015041621123174.jpg")" border="0"></a></div>
                <div class="maxLen">
                    <a title="MDO3012混合域示波器 MDO3012混合域示波器" class="link" id="ctl00_pilSubCon_rptShowProList_ctl05_hlkTitle" href="@Url.Action("ProductInformation",new { ID="MDO3012混合域示波器"})" target="_blank">MDO3012混合域示波器</a>
                </div>
            </li>

            <li>
                <div><a title="ST-LINK/V2仿真器 ST-LINK/V2" class="img" id="ctl00_pilSubCon_rptShowProList_ctl06_lnkImg" href="@Url.Action("ProductInformation",new { ID="ST-LINKV2仿真器"})" target="_blank"><img class="ImgProduct" id="ctl00_pilSubCon_rptShowProList_ctl06_img" onload="ResizeImage_Special(this,148,148);" alt="ST-LINK/V2仿真器 ST-LINK/V2" src="@Url.Content("~/images/product/2015042314520454.jpg")" border="0"></a></div>
                <div class="maxLen">
                    <a title="ST-LINK/V2仿真器 ST-LINK/V2" class="link" id="ctl00_pilSubCon_rptShowProList_ctl06_hlkTitle" href="@Url.Action("ProductInformation",new { ID="ST-LINKV2仿真器"})" target="_blank">ST-LINK/V2仿真器 ST-LINK/V2</a>
                </div>
            </li>

            <li>
                <div><a title="MDO3000 混合域示波器 MDO3000 混合域示波器" class="img" id="ctl00_pilSubCon_rptShowProList_ctl07_lnkImg" href="@Url.Action("ProductInformation",new { ID="MDO3000混合域示波器"})" target="_blank"><img class="ImgProduct" id="ctl00_pilSubCon_rptShowProList_ctl07_img" onload="ResizeImage_Special(this,148,148);" alt="MDO3000 混合域示波器 MDO3000 混合域示波器" src="@Url.Content("~/images/product/2015041516463950.jpg")" border="0"></a></div>
                <div class="maxLen">
                    <a title="MDO3000 混合域示波器 MDO3000 混合域示波器" class="link" id="ctl00_pilSubCon_rptShowProList_ctl07_hlkTitle" href="@Url.Action("ProductInformation",new { ID="MDO3000混合域示波器"})" target="_blank">MDO3000 混合域示波器 </a>
                </div>
            </li>

            <li>
                <div><a title="开发板Friendly Arm tiny6410 Friendly Arm tiny6410" class="img" id="ctl00_pilSubCon_rptShowProList_ctl08_lnkImg" href="@Url.Action("ProductInformation",new { ID="开发板FriendlyArmtiny6410"})" target="_blank"><img class="ImgProduct" id="ctl00_pilSubCon_rptShowProList_ctl08_img" onload="ResizeImage_Special(this,148,148);" alt="开发板Friendly Arm tiny6410 Friendly Arm tiny6410" src="@Url.Content("~/images/product/2015041514113782.jpg")" border="0"></a></div>
                <div class="maxLen">
                    <a title="开发板Friendly Arm tiny6410 Friendly Arm tiny6410" class="link" id="ctl00_pilSubCon_rptShowProList_ctl08_hlkTitle" href="@Url.Action("ProductInformation",new { ID="开发板FriendlyArmtiny6410"})" target="_blank">开发板Friendly Arm tiny6410 Friendly Arm tiny6410</a>
                </div>
            </li>

            <li>
                <div><a title="精密电位器/500Ω (501) 3362P-1-501" class="img" id="ctl00_pilSubCon_rptShowProList_ctl09_lnkImg" href="@Url.Action("ProductInformation",new { ID="精密电位器500Ω(501)"})" target="_blank"><img class="ImgProduct" id="ctl00_pilSubCon_rptShowProList_ctl09_img" onload="ResizeImage_Special(this,148,148);" alt="精密电位器/500Ω (501) 3362P-1-501" src="@Url.Content("~/images/product/2015070813495135.jpg")" border="0"></a></div>
                <div class="maxLen">
                    <a title="精密电位器/500Ω (501) 3362P-1-501" class="link" id="ctl00_pilSubCon_rptShowProList_ctl09_hlkTitle" href="@Url.Action("ProductInformation",new { ID="精密电位器500Ω(501)"})" target="_blank">精密电位器/500Ω (501) 3362P-1-501</a>
                </div>
            </li>

            <li>
                <div><a title="直插排阻/220KΩ(224) ±5% 220KΩ(224) ±5%" class="img" id="ctl00_pilSubCon_rptShowProList_ctl10_lnkImg" href="@Url.Action("ProductInformation",new { ID="直插排阻220KΩ(224)5"})" target="_blank"><img class="ImgProduct" id="ctl00_pilSubCon_rptShowProList_ctl10_img" onload="ResizeImage_Special(this,148,148);" alt="直插排阻/220KΩ(224) ±5% 220KΩ(224) ±5%" src="@Url.Content("~/images/product/2015031315365390.jpg")" border="0"></a></div>
                <div class="maxLen">
                    <a title="直插排阻/220KΩ(224) ±5% 220KΩ(224) ±5%" class="link" id="ctl00_pilSubCon_rptShowProList_ctl10_hlkTitle" href="@Url.Action("ProductInformation",new { ID="直插排阻220KΩ(224)5"})" target="_blank">直插排阻/220KΩ(224) ±5% 220KΩ(224) ±5%</a>
                </div>
            </li>

            <li>
                <div><a title="黑金开发版 FPGA" class="img" id="ctl00_pilSubCon_rptShowProList_ctl11_lnkImg" href="@Url.Action("ProductInformation",new { ID="黑金开发版"})" target="_blank"><img class="ImgProduct" id="ctl00_pilSubCon_rptShowProList_ctl11_img" onload="ResizeImage_Special(this,148,148);" alt="黑金开发版 FPGA" src="@Url.Content("~/images/product/2015031115091551.gif")" border="0"></a></div>
                <div class="maxLen">
                    <a title="黑金开发版 FPGA" class="link" id="ctl00_pilSubCon_rptShowProList_ctl11_hlkTitle" href="@Url.Action("ProductInformation",new { ID="黑金开发版"})" target="_blank">黑金开发版 FPGA</a>
                </div>
            </li>

        </ul>
    </div>
</div>