@{
    ViewBag.KeyWords = "北京中泰祥和科技有限公司,智慧校园,教育云,云平台,云桌面,桌面云,桌面虚拟化,云课堂,云教室,服务器虚拟化,云计算,虚拟化";
    ViewBag.Description = "北京中泰祥和科技有限公司，专门为机房提供云桌面，拥有桌面虚拟化、服务器虚拟化、云平台、虚拟备份系列产品，并将云计算技术与行业应用深入结合，为用户提供智慧校园云、公安云、社保云等专业的行业云解决方案 经理：聂立，联系电话：15801473663";
    ViewBag.CompanyName = "北京中泰祥和科技有限公司官方网站";
}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="baidu-site-verification" content="bYrkJLk9pA" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="@ViewBag.KeyWords" />
    <meta name="description" content="@ViewBag.Description" />
    <title>@(ViewBag.Title+ " - " + ViewBag.CompanyName)</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 id="CompanyName" style="color:white;font-weight:600;margin: 5px;"><img style="height:66px;" src="~/Images/logo/logo.png" alt="北京中泰祥和科技有限公司"> </h1>
            </div>
            <div class="navbar-collapse collapse" style="float:right">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("产品", "Product", "Home", new { id = "" }, null)</li>
                    <li>@Html.ActionLink("案例", "Anli/", "Home", new { id = "" }, null)</li>
                    <li>@Html.ActionLink("关于", "About", "Home")</li>
                    <li>@Html.ActionLink("联系", "Contact", "Home")</li>
                    <li>@Html.ActionLink("招聘", "ZhaoPin", "Home")</li>
                    <li><a href="http://www.buy.zgztxh.com/">电子器件商城</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">


        @Styles.Render("~/Content/product.css", "~/Content/nav.css")
        <style>
            .col-md-4 {
                padding: 0px 2px 0px 0px;
            }

            #listp p {
                width: 210px;
            }

            .zhuye ul {
                background-color: #cb3a0e;
            }
        </style>
        <script>
            $(function () {
                $(".zhuye").mouseover(function () {
                    $(this).children("ul").show();
                }).mouseleave(function () {
                    $(this).children("ul").hide();
                });

            });
        </script>
        <div class="row" id="listp">
            <div id="oe-nav" class="oe-nav-wrapper oe-nav-bg">
                <div class="oe-nav-inner">
                    <div class="oe-nav-header"></div>
                    <div class="oe-nav-body">
                        <div>
                            <ul>
                                <text style="text-align:center;color:white;padding: 18px 20px;">*云计算与大数据提供商*</text>
                                <li class="selected zhuye"><a href="~/Home/CloudService/主页" data-id="home" data-page-id="home"><span class="title">主页</span></a></li>
                                <li class=" zhuye">
                                    <a href="~/Home/CloudService/产品介绍"><span class="title">产品介绍</span></a>
                                    <ul>
                                        <li><a href="~/Home/CloudService/产品介绍"><span class="title">产品介绍</span></a></li>
                                        <li><a href="~/Home/CloudService/硬件配置"><span class="title">硬件配置</span></a></li>
                                        <li><a href="~/Home/CloudService/关键参数"><span class="title">关键参数</span></a></li>
                                    </ul>
                                </li>
                                <li class=" zhuye">
                                    <a href="~/Home/CloudService/解决方案"><span class="title">解决方案</span></a>
                                    <ul>
                                        <li><a href="~/Home/CloudService/实验室"><span class="title">实验室</span></a></li>
                                        <li><a href="~/Home/CloudService/图书馆"><span class="title">图书馆</span></a></li>
                                        <li><a href="~/Home/CloudService/多媒体教室"><span class="title">多媒体教室</span></a></li>
                                        <li><a href="~/Home/CloudService/教师办公"><span class="title">教师办公</span></a></li>
                                    </ul>
                                </li>
                                <li class=" zhuye">
                                    <a href="~/Home/CloudService/典型案例"><span class="title">典型案例</span></a>
                                    <ul>
                                        <li><a href="~/Home/CloudService/计算机学院类实验室"><span class="title">计算机学院类实验室</span></a></li>
                                        <li><a href="~/Home/CloudService/公共机房类"><span class="title">公共机房类</span></a></li>
                                        <li><a href="~/Home/CloudService/经管院实验室"><span class="title">经管院实验室</span></a></li>
                                        <li><a href="~/Home/CloudService/AL多媒体教室"><span class="title">多媒体教室</span></a></li>
                                        <li><a href="~/Home/CloudService/AL图书馆"><span class="title">图书馆</span></a></li>
                                        <li><a href="~/Home/CloudService/混合应用"><span class="title">混合应用</span></a></li>
                                    </ul>
                                </li>
                                <li class=" zhuye">
                                    <a href="~/Home/CloudService/方案优势"><span class="title">方案优势</span></a>
                                    <ul>
                                        <li><a href="~/Home/CloudService/方案优势#kuai"><span class="title">快</span></a></li>
                                        <li><a href="~/Home/CloudService/方案优势#zhun"><span class="title">准</span></a></li>
                                        <li><a href="~/Home/CloudService/方案优势#wen"><span class="title">稳</span></a></li>
                                        <li><a href="~/Home/CloudService/方案优势#ling"><span class="title">零</span></a></li>
                                    </ul>
                                </li>
                                <li class=" zhuye"><a href="~/Home/CloudService/帮助"><span class="title">帮助</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>


        <hr />

    </div>
    <div class="navbar-inverse navbar-header" style="min-height:50px;width:100%;color:white;padding-top:15px">
        <footer style="margin-left: auto;margin-right: auto;margin-left: 5px;text-align: center;">
            <p>
                @Html.Raw("@")北京市通州区台湖北里29号楼3层328室
                @Html.ActionLink("主页", "Index", "Home", null, new { @style = "margin-left: 50px" })
                @Html.ActionLink("产品", "Product", "Home", new { id = "" }, new { @style = "margin-left: 20px" })
                @Html.ActionLink("案例", "Anli/", "Home", new { id = "" }, new { @style = "margin-left: 20px" })
                @Html.ActionLink("关于", "About", "Home", null, new { @style = "margin-left: 20px" })
                @Html.ActionLink("联系", "Contact", "Home", null, new { @style = "margin-left: 20px" })
                @Html.ActionLink("招聘", "ZhaoPin", "Home", null, new { @style = "margin-left: 20px" })
                <a href="http://www.buy.zgztxh.com/" style="margin-left: 20px">电子器件商城</a>
            </p>
            <p>
                &copy; @DateTime.Now.Year - 北京中泰祥和科技有限公司 &nbsp; &nbsp;  京ICP备17056601号 &nbsp;&nbsp; <img src="~/Images/logo/备案图标.png" alt="" style="width:16px;">京公网安备 11011202000895号
                @*<script type="text/javascript">
                        document.write(unescape(" %3Cscript type='text/javascript' src='http://zg69.cn/statictics/index/testid?title=" + escape(document.title) + "&sourceurl=" + encodeURI(document.location.href) + "'%3E%3C/script%3E"));
                    </script>*@
            </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</body>
</html>
