@{
      ViewBag.CompanyName = "北京中泰祥和科技有限公司官方网站";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="baidu-site-verification" content="bYrkJLk9pA" />
    <link href="zgztxh.htm" rel="parent" charset="UTF-8" hreflang="zh-Hans" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="@ViewBag.KeyWords" />
    <meta name="description" content="@ViewBag.Description" />
    <title>@(ViewBag.Title + (ViewBag.Title == null || ViewBag.Title == "" ? "" : " - ") + ViewBag.CompanyName)</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 id="CompanyName" style="color:white;font-weight:600;margin: 5px;"><img style="height:66px;" src="~/Images/logo/logo.png" alt="北京中泰祥和科技有限公司"> </h1>
            </div>
            <div class="navbar-collapse collapse" style="float:right">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("产品", "Product", "Home", new { id = "" }, null)</li>
                    <li>@Html.ActionLink("案例", "Anli/", "Home", new { id = "" }, null)</li>
                    <li>@Html.ActionLink("关于", "About", "Home")</li>
                    <li>@Html.ActionLink("联系", "Contact", "Home")</li>
                    <li>@Html.ActionLink("招聘", "ZhaoPin", "Home")</li>
                    <li><a href="https://www.buy.zgztxh.com/" target="ztxh_buy">电子器件商城</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <div class="navbar-inverse navbar-header" style="min-height:50px;width:100%;color:white;padding-top:15px">
        <footer style="margin-left: auto;margin-right: auto;margin-left: 5px;text-align: center;">
            <p>
                北京市通州区台湖北里29号楼3层328室
                @Html.ActionLink("中泰检索", "pub", "search", null, new { @style = "margin-left: 50px" })
                @Html.ActionLink("互联网工具", "index", "tools", new { id = "" }, new { @style = "margin-left: 20px" })
                <a href="https://www.buy.zgztxh.com/" target="ztxh_buy" style="margin-left: 20px">电子器件商城</a>
            </p>
            <p>
                Copyright@("@") 2003 -  @DateTime.Now.Year   &nbsp;&nbsp;&reg; 北京中泰祥和科技有限公司 &nbsp; &nbsp;
                京ICP备17056601号 &nbsp;&nbsp;
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11011202000895" style="color:white;display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                    <img src="~/Images/logo/备案图标.png" style="float:left;" />
                    京公网安备 11011202000895号
                </a>
            </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?24389dc1d57dc729087274132f6b6470";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</body>
</html>
