@{
    ViewBag.KeyWords = "电子元器件，元器件采购，电阻，电容，芯片，开发版，仿真器，单孔万能板单面，设备诊断仪器，实验工具及配件";
    ViewBag.Description = "中泰祥和商城成立于2015年1月2日，隶属于北京中泰祥和科技有限公司，是中国首批尝试开发电子元器件小批量采购的垂直电商之一。订购热线：13121882225         010-80741878 ";

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 北京中泰祥和科技有限公司网上商城</title>
    <meta name="keywords" content="@ViewBag.KeyWords" />
    <meta name="description" content="@ViewBag.Description" />
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/old/style_anf.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="border-bottom: 5px solid #890038;background-color:white">
        <div class="container">
            <div class="navbar-header">
                <button type="button" style="background-color:#890038" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 id="CompanyName" style="color:white;font-weight:600;margin: 5px;"><img style="height:66px;" src="~/Images/logo/logo.png" alt="北京中泰祥和科技有限公司"> </h1>
            </div>
            <style>
                li > a {
                    color: #890038;
                    font-size: 18px;
                }
            </style>
            <div class="navbar-collapse collapse" style="float:right;margin-top:20px">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首页", "Index")</li>
                    <li>@Html.ActionLink("简介", "GetPage", new { ID = "简介" })</li>
                    <li>@Html.ActionLink("新闻", "GetPage", new { ID = "新闻" })</li>
                    <li>@Html.ActionLink("产品", "GetPage", new { ID = "产品" })</li>
                    @*<li>@Html.ActionLink("案例", "GetPage", new { ID = "案例" })</li>*@
                    <li>@Html.ActionLink("技术", "GetPage", new { ID = "技术" })</li>
                    <li>@Html.ActionLink("资料下载", "GetPage", new { ID = "资料下载" })</li>
                    <li>@Html.ActionLink("联系我们", "GetPage", new { ID = "联系我们" })</li>
                </ul>
            </div>
        </div>
    </div>
    <marquee behavior="alternate" scrollamount="8"  height="30" bgcolor="#0099FF" style="margin-top: 30px;color: red;background: none;font-size: x-large;width:100%;">
    &hearts;&nbsp;双十&bull;一促销火爆进行中&nbsp;&hearts;</marquee>
    <div class="container body-content" style="margin-top:5px;">
        @RenderBody()
        <hr />
    </div>
    <div class="navbar-inverse navbar-header" style="min-height:50px;width:100%;color:darkgray;padding-top:15px;background-color:#1c2b40">
        <footer style="margin-left: auto;margin-right: auto;margin-left: 5px;text-align: center;">
            <p>
                订购热线：13121882225 ;  010-80741878  &nbsp;&nbsp; 友情链接：<a style="color:#616161" target="ztxh" href="http://www.zgztxh.com">北京中泰祥和科技有限公司官方网站</a>
                <br />
                Copyright@("@") 2003 -  @DateTime.Now.Year &nbsp;&nbsp; 北京中泰祥和科技有限公司 - 电子元器件市场部 &nbsp; &nbsp;
                京ICP备17056601号 &nbsp;&nbsp;
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11011202000895" style="color:darkgray;display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                    <img src="~/Images/logo/备案图标.png" style="float:left;" />
                    京公网安备 11011202000895号
                </a>
            </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?24389dc1d57dc729087274132f6b6470";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</body>
</html>