@{
    Layout = "~/Views/shared/_CloudServiceLayout.cshtml";
    ViewBag.Title = "图书馆";
}
<style>
    body {
        background: url(../../images/ztxhkj/jiejuefangan-beijing.jpg) no-repeat left top #cdcdcd;
    }

    #listp p {
        width: 100%;
    }
</style>
@Styles.Render("~/Content/nav.css")
<script>
    function ANquery() {
        if ($("#case_query").val() == "" || $("#case_query").val() == "请输入案例名称") {
            alert("请输入案例名称");
        } else {
            window.location.href = "@Request.ApplicationPath" + "/Home/SearchAnLi/?keyword=" + $("#case_query").val();
        }
    };
</script>
<div class="col-md-offset-3 col-md-9">
    <div class="row">
        <div class="col-md-12" style="width:80%;">
            <!--面包屑 开始-->
            <div class="oe-case-name"> <span class="oe-chanpin-jies02">@Html.ActionLink("计算机学院类实验室", "CloudService", new { id = "计算机学院类实验室" })</span> <span class="oe-chanpin-jies02">@Html.ActionLink("公共机房类", "CloudService", new { id = "公共机房类" })</span> <span class="oe-chanpin-jies02">@Html.ActionLink("经管院实验室", "CloudService", new { id = "经管院实验室" })</span> <span class="oe-chanpin-jies02">@Html.ActionLink("多媒体教室", "CloudService", new { id = "AL多媒体教室" })</span> <span class="oe-chanpin-jies">@Html.ActionLink("图书馆", "CloudService", new { id = "AL图书馆" })</span> <span class="oe-chanpin-jies02">@Html.ActionLink("混合应用", "CloudService", new { id = "混合应用" })</span> </div>
        </div>
        <!--面包屑 结束--> <div class="col-md-12" style="margin-top:20px; width:80%;"> <div style="width:100%; background:url(../../Images/ztxhkj/cloudservice/case-shiyanshi-banner.jpg) no-repeat center top; height:240px;"></div> </div> <div class="col-md-12" style="width:80%;"><!--标题 开始--> <div class="edu-cloud-dxal" style=" background:url(../../Images/ztxhkj/cloudservice/cloud-line.gif) no-repeat center bottom;"> <h1 style="padding-right:85px;">图书馆</h1> </div> </div><!--标题 结束--> <!--<div class="row">&lt;!&ndash;武大 开始&ndash;&gt;--> <div class="col-md-7" style="width:45%;"> <div style="width:100%; background:url(../../Images/ztxhkj/cloudservice/yunnan.png) no-repeat center top; height:305px;"></div> </div> <div class="col-md-5" style="width:35%;"> <div> <h2 style="font-size:35px; font-weight:bold;">云南大学</h2> <p>——云南大学图书馆教育桌面云应用案例</p> <p>云南大学图书馆始建于1923年，九十多年的风雨历程使云南大学图书馆发展成为典藏丰富、功能齐全、布局合理、设施先进的高校图书馆。云大图书馆作为云南大学重要的组成部分，近一个世纪的积淀体现出了现代综合性大学的深厚底蕴。</p> <p>云南大学图书馆由校本部图书馆和呈贡校区图书馆两部分组成，呈贡校区图书馆建成于2014年9月份，建筑面积58918平方米，可馆藏图书380万册。随着云计算技术的发展，使用传统PC机部署IT环境的方式与建设面向未来的技术先进性图书馆的宗旨已经背道而驰，传统建设方式终端分散、扩展性差、运维困难、能耗高等诸多弊端越发明显，因此在老校区图书馆改造和呈贡校区图书馆的建设过程中，馆方摒弃了传统IT环境建设方案，采用了代表未来发展潮流的噢易教育桌面云方案实现了终端桌面虚拟化。</p> </div> </div> <!--</div>&lt;!&ndash;武大 结束&ndash;&gt;--> <div class="col-md-12" style="margin-top:30px; width:80%;">
            <!--tab 切换 开始--> <div class="oe-dianxinganli-tab">
                <!-- Nav tabs --> <ul class="nav nav-tabs oe-dxal-ul" role="tablist"> <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">场景描述</a></li> <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">方案配置</a></li> <li role="presentation" class="active"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">场景展示</a></li> <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">价值效果</a></li> </ul> <!-- Tab panes --> <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="home"> <div class="row"> <div class="col-md-12"> <div style="width:100%; padding-top:20px;"> <p>噢易云计算植根于教育行业十多年，推出的E-VDI教育桌面云专为学校提供所需IT环境的整体解决方案。</p> <p>方案使用高性能的服务器集群作为云计算中心，在云计算中心虚拟化资源池中创建大量的虚拟机交付给学生使用，终端设备可采用低能耗的云终端或者一体机。此次云南大学图书馆建设项目部署了8台噢易云主机组成集群提供200个虚拟桌面供学生同时使用，其中老校区图书馆部署24点，呈贡校区图书馆部署176点。使用噢易教育桌面云方案之后，图书馆整体的IT环境实现了集中管理、资源动态分配和随时随地的接入，面向学生提供现代化信息服务的图书馆驶入了信息化发展的快车道。</p> </div> </div> </div> </div> <div role="tabpanel" class="tab-pane" id="profile"><!--方案配置 开始--> <div class="row" style="margin-top:90px;"> <div class="col-md-6"> <div style="width:100%; background:url(../../Images/ztxhkj/cloudservice/fanganpeizhi-img.jpg) no-repeat center top; height:345px;"></div> </div> <div class="col-md-6"> <div class="oe-dxan-table"> <h4>云南大学学教育桌面云硬件配置</h4> <table width="555" border="0" style="margin-top:30px;"> <tbody><tr style="border-bottom:1px solid #ccc; background-color:#e5e3e2;"> <th scope="col">产品名称</th> <th scope="col">详细参数</th> <th scope="col">数量</th> </tr><tr> <td rowspan="4">云服务器</td> <td class="oe-td">CPU：Intel 2路6核</td> <td rowspan="4">6台</td> </tr> <tr> <td class="oe-td">内存：96G DDR3</td> </tr> <tr> <td class="oe-td">硬盘：1*480G SSD+600G SAS 15K</td> </tr> <tr> <td class="oe-td">网卡：4*1000M</td> </tr> <tr style="border-top:1px solid #ccc; "> <td class="oe-td">终端设备</td> <td class="oe-td">21.5寸云终端一体机</td> <td class="oe-td">100台</td> </tr> </tbody></table> </div> </div> </div> </div><!--方案配置 结束--> <div role="tabpanel" class="tab-pane active" id="messages">
                        <!--场景展示 开始--> <div class="row" style="margin-top:30px;">
                            <div class="col-md-8"> <div style=" width:100%; background:url(../../Images/ztxhkj/cloudservice/yunnan02.png) no-repeat center top; height:456px;"></div> </div> <div class="col-md-4">
                                <div style="background-color:#e1dddc; width:100%;  padding: 48px 15px;">
                                    <p style="font-weight:bold;">用户评语：</p> <p>
                                        我们图书馆采用了噢易教育桌面云之后，图书馆的整个信息化建设是向上迈了一个大台阶的，这个产品既美观又实用，无论是负责系统建设、维护的管理老师，还是经常来图书馆学习的学生，都对桌面云的这种新应用模式很是赞叹。"
                                        云南大学图书馆作为衡量云大办学水平的重要指标，其建设关系到云大的发展，信息技术的广泛应用使云大图书馆的建设和管理效率大幅提高，基于云计算技术的噢易教育桌面云方案更是颠覆了传统的图书馆建设理念，代表着业内IT环境建设的方向和潮流，桌面云方案使图书馆的信息资源可以实现全校甚至全社会共享，未来可以拓展图书馆作为云南大学教育和科研资源，为社会人员提供服务的建设模式。利用先进的云计算技术，噢易教育桌面云为云南大学图书馆插上了信息化的翅膀！
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div><!--场景展示 结束--> <div role="tabpanel" class="tab-pane" id="settings"><!--价值效果 开始--> <div class="row" style="margin-top:70px;"> <div class="col-md-2"> <div style="background:url(../../Images/ztxhkj/cloudservice/case-zhuanshi.jpg) no-repeat center top; width:100%; height:107px;"></div> </div> <div class="col-md-10"> <div style="width:100%; padding:5px 0px;"> <p>噢易教育桌面云方案实现终端应用环境的云端运算和存储，对终端环境进行集中管理，彻底解决了检索机维护难的问题；</p> <p>云端资源可弹性分配的特性满足了学生不同的应用需求；</p> <p>低能耗的云终端挂在显示器背后组合成终端设备，不仅使图书馆的环境整洁美观而且在节约耗电量的同时降低了设备运行时的噪音，打造一个绿色的阅览环境。</p> </div> </div> </div> </div><!--价值效果 结束-->
                </div>
            </div>
        </div><!--tab 切换 结束-->
 <div class="col-md-12" style="margin-top:70px; width:80%;">
            <div style=" background:url(../../Images/ztxhkj/cloudservice/cloud-line.gif) no-repeat center bottom; width:100%; text-align:center; padding-bottom:15px;"> <h1 style="padding-right:85px;">查看更多案例</h1> </div> <div style="background:url(../../Images/ztxhkj/cloudservice/case-bj-img02.jpg) no-repeat center top; height:808px; width:100%;">
                <!--搜索 开始--> <div class="row">
                    <div class="col-md-4"></div> <div class="col-md-4">
                        <div class="input-group list-sous">
                            <!--搜索框开始--> <input type="text" class="form-control span2" id="case_query" placeholder="请输入案例名称">
                            <span class="input-group-btn"><button class=" list-ssuo" onclick="ANquery()" type="button" id="case_query_btn"></button></span>
                        </div>
                        <!--搜索框 结束-->
                    </div> <div class="col-md-4">
                        <!--搜索结果列表 开始-->
                        <div class="panel panel-default oe-case-biaoge " style="width:278px; margin:120px 0px 0px 80px;">
                            <div class="panel-heading" style="background:url(../../Images/ztxhkj/cloudservice/dianxinganli-list-img.jpg) no-repeat center top; width:100%;	padding: 8px 16px;"> <span style="padding-left:28px;">所有案例</span> </div>
                            <table class="table" id="case_list">
                                <tr>
                                    <td class="table-datetime-td-width">2017-06-30</td>
                                    <td><a href="~/home/AnLiDetail/浙江省德清县教育局"  data-toggle="tooltip" title="浙江省德清县教育局">浙江省德清县教育局</a></td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2017-06-29</td>
                                    <td><a href="~/home/AnLiDetail/安徽省无为县教育局" data-toggle="tooltip" title="安徽省无为县教育局">安徽省无为县教育局</a></td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2017-06-13</td>
                                    <td><a href="~/home/AnLiDetail/西华大学" data-toggle="tooltip" title="西华大学">西华大学</a></td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2017-06-13</td>
                                    <td><a href="~/home/AnLiDetail/四川师范大学" data-toggle="tooltip" title="四川师范大学">四川师范大学</a></td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2016-12-07</td>
                                    <td><a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例" data-toggle="tooltip" title="广东工业大学实验教学部桌面云应用案例">广东工业大学实验教学部桌面云应用案例</a></td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2016-11-18</td>
                                    <td>
                                        <a href="~/home/AnLiDetail/助推泰州市基本公共卫生服务信息系统升级" data-toggle="tooltip" title="助推泰州市基本公共卫生服务信息系统升级">助推泰州市基本公共卫生服务信息系统升级</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2016-09-05</td>
                                    <td>
                                        <a href="~/home/AnLiDetail/黄冈国土“原有业务”和“不动产业务”完美切换至云端" data-toggle="tooltip" title="黄冈国土“原有业务”和“不动产业务”完美切换至云端">黄冈国土“原有业务”和“不动产业务”完美切换至云端</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2016-08-03</td>
                                    <td>
                                        <a href="~/home/AnLiDetail/鄂州警务综合应用系统升级与虚拟化改造案例" data-toggle="tooltip" title="鄂州警务综合应用系统升级与虚拟化改造案例">鄂州警务综合应用系统升级与虚拟化改造案例</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2016-08-03</td>
                                    <td>
                                        <a href="~/home/AnLiDetail/恩施州警务综合应用系统升级与虚拟化改造案例" data-toggle="tooltip" title="恩施州警务综合应用系统升级与虚拟化改造案例">恩施州警务综合应用系统升级与虚拟化改造案例</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2016-08-03</td>
                                    <td><a href="~/home/AnLiDetail/随州市公安云平台建设案例" data-toggle="tooltip" title="随州市公安云平台建设案例">随州市公安云平台建设案例</a></td>
                                </tr>
                            </table>
                        </div>
                    </div><!--搜索结果列表 开始-->
                </div>
            </div><!--搜索 结束-->
        </div>    </div>
</div>