@{
    Layout = "~/Views/shared/_CloudServiceLayout.cshtml";
    ViewBag.Title = "混合应用";
}
<style>
    body {
        background: url(../../images/ztxhkj/jiejuefangan-beijing.jpg) no-repeat left top #cdcdcd;
    }

    #listp p {
        width: 100%;
    }
</style>
@Styles.Render("~/Content/nav.css")
<script>
    function ANquery() {
        if ($("#case_query").val() == "" || $("#case_query").val() == "请输入案例名称") {
            alert("请输入案例名称");
        } else {
            window.location.href = "@Request.ApplicationPath.Trim('/')" + "/Home/SearchAnLi/?keyword=" + $("#case_query").val();
        }
    };
</script>
<div class="col-md-offset-3 col-md-9">
    <div class="row">
        <div class="col-md-12" style="width:80%;">
            <!--面包屑 开始-->
            <div class="oe-case-name"> <span class="oe-chanpin-jies02">@Html.ActionLink("计算机学院类实验室", "CloudService", new { id = "计算机学院类实验室" })</span> <span class="oe-chanpin-jies02">@Html.ActionLink("公共机房类", "CloudService", new { id = "公共机房类" })</span> <span class="oe-chanpin-jies02">@Html.ActionLink("经管院实验室", "CloudService", new { id = "经管院实验室" })</span> <span class="oe-chanpin-jies02">@Html.ActionLink("多媒体教室", "CloudService", new { id = "AL多媒体教室" })</span> <span class="oe-chanpin-jies02">@Html.ActionLink("图书馆", "CloudService", new { id = "AL图书馆" })</span> <span class="oe-chanpin-jies">@Html.ActionLink("混合应用", "CloudService", new { id = "混合应用" })</span> </div>
        </div>
        <!--面包屑 结束--> <div class="col-md-12" style="margin-top:20px; width:80%;"> <div style="width:100%; background:url(../../Images/ztxhkj/cloudservice/case-shiyanshi-banner.jpg) no-repeat center top; height:240px;"></div> </div> <div class="col-md-12" style="width:80%;"><!--标题 开始--> <div class="edu-cloud-dxal" style=" background:url(../../Images/ztxhkj/cloudservice/cloud-line.gif) no-repeat center bottom;"> <h1 style="padding-right:85px;">混合应用</h1> </div> </div><!--标题 结束--> <!--<div class="row">&lt;!&ndash;武大 开始&ndash;&gt;--> <div class="col-md-7" style="width:45%;"> <div style="width:100%; background:url(../../Images/ztxhkj/cloudservice/tianjin.png) no-repeat center top; height:305px;"></div> </div> <div class="col-md-5" style="width:35%;"> <div> <h2 style="font-size:35px; font-weight:bold;">天津大学仁爱学院</h2> <p>——天津大学仁爱学院教育桌面云应用案例</p> <p>天津大学仁爱学院充分发挥天津大学的优质教育资源，创新办学机制，实行开放式办学、多样化培养，办学水平和人才培养质量位居同类院校前列。天津大学仁爱学院在2014年进行了云计算技术的尝试，首次将一个教学机房和一批教师办公采用了噢易教育桌面云的方案。</p> </div> </div> <!--</div>&lt;!&ndash;武大 结束&ndash;&gt;--> <div class="col-md-12" style="margin-top:30px; width:80%;">
            <!--tab 切换 开始--> <div class="oe-dianxinganli-tab">
                <!-- Nav tabs --> <ul class="nav nav-tabs oe-dxal-ul" role="tablist"> <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">场景描述</a></li> <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">方案配置</a></li> <li role="presentation" class="active"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">场景展示</a></li> <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">价值效果</a></li> </ul> <!-- Tab panes --> <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="home"> <div class="row"> <div class="col-md-12"> <div style="width:100%; padding-top:20px;"> <p>本次天津大学仁爱学院的教育桌面云项目，一共200点的授权，主要完成一个100台终端的教学机房和100个老师移动办公。仁爱学院有一些教师会跨校区上课，所以这100个教师的虚拟桌面要支持互联网的访问；教学机房内的100个终端，由于日常上课的需要，除了部署噢易教育桌面云外，需要使用多套教学场景上课，使用多媒体教学软件进行屏幕广播和视频教学等。</p> <p>常用软件有：Adobe Flash Player, Microsoft Office Professional Plus 2010, WinRAR, Microsoft Visual C++ 6.0，Dreamweaver，VC/VB/VF6.0，暴风影音，PDF阅读器，搜狗拼音输入法，多媒体网络教学系统。</p> </div> </div> </div> </div> <div role="tabpanel" class="tab-pane" id="profile"><!--方案配置 开始--> <div class="row" style="margin-top:90px;"> <div class="col-md-6"> <div style="width:100%; background:url(../../Images/ztxhkj/cloudservice/fanganpeizhi-img.jpg) no-repeat center top; height:345px;"></div> </div> <div class="col-md-6"> <div class="oe-dxan-table"> <h4>天津大学仁爱学院教育桌面云硬件配置</h4> <table width="100%" border="0" style="margin-top:30px;"> <tbody><tr style="border-bottom:1px solid #ccc; background-color:#e5e3e2;"> <th width="15%" scope="col">设备名称</th> <th width="76%" scope="col">详细参数</th> <th width="9%" scope="col">数量</th> </tr> <tr> <td rowspan="4" style="text-align:center;">云服务器</td> <td style="padding-left:15px;">刀片服务器 </td> <td rowspan="4" style="text-align:center;">7</td> </tr> <tr> <td style="padding-left:15px;">CPU：Intel 2路8核 </td> </tr> <tr> <td style="padding-left:15px;">内存：192G DDR3</td> </tr> <tr> <td style="padding-left:15px;">硬盘：2*300G  15K SAS</td> </tr> <tr style="border-top: 1px solid #ccc;"> <td rowspan="6" style="text-align:center;">存储设备</td> <td style="padding-left:15px;">ISCSI存储 </td> <td rowspan="6" style="text-align:center;">1</td> </tr> <tr> <td style="padding-left:15px;">2个存储控制器，单一存储系统支持横向扩展16个存储控制器； </td> </tr> <tr> <td style="padding-left:15px;">32GB缓存，每控制器缓存容量16GB，支持扩展到256GB，支持闪存数据保护； </td> </tr> <tr> <td style="padding-left:15px;">8个10GbE主机端口； </td> </tr> <tr> <td style="padding-left:15px;">7个800GB SSD固态硬盘； </td> </tr> <tr> <td style="padding-left:15px;">17个1.2TB 10000转SAS硬盘；</td> </tr> <tr style="border-top: 1px solid #ccc;"> <td rowspan="6" style="text-align:center;">云终端</td> <td style="padding-left:15px;">CPU: Intel®Celeron赛扬双核1037U/1.8GHz</td> <td rowspan="6" style="text-align:center;">200</td> </tr> <tr> <td style="padding-left:15px;">主芯片：Intel NM70</td> </tr> <tr> <td style="padding-left:15px;">内存：2GB DDR3</td> </tr> <tr> <td style="padding-left:15px;">硬盘：8GB固态盘（可选16GB） </td> </tr> <tr> <td style="padding-left:15px;">集显HD Graphics</td> </tr> <tr> <td style="padding-left:15px;">接口：1*HDMI接口，1*VGA接口，1个网口，5*USB 2.0，Audio in/out </td> </tr> <tr style="border-top: 1px solid #ccc;"> <td style="text-align:center;">鼠标键盘</td> <td style="padding-left:15px;">USB键盘鼠标套装</td> <td style="text-align:center;">200</td> </tr> </tbody></table> </div> </div> </div> </div><!--方案配置 结束--> <div role="tabpanel" class="tab-pane active" id="messages">
                        <!--场景展示 开始--> <div class="row" style="margin-top:30px;">
                            <div class="col-md-8"> <div style=" width:100%; background:url(../../Images/ztxhkj/cloudservice/tianjin02.png) no-repeat center top; height:456px;"></div> </div> <div class="col-md-4">
                                <div style="background-color:#e1dddc; width:100%;  padding: 48px 15px;">
                                    <p style="font-weight:bold;">用户评语：</p> <p>
                                        我们图书馆采用了噢易教育桌面云之后，图书馆的整个信息化建设是向上迈了一个大台阶的，这个产品既美观又实用，无论是负责系统建设、维护的管理老师，还是经常来图书馆学习的学生，都对桌面云的这种新应用模式很是赞叹。"
                                        云南大学图书馆作为衡量云大办学水平的重要指标，其建设关系到云大的发展，信息技术的广泛应用使云大图书馆的建设和管理效率大幅提高，基于云计算技术的噢易教育桌面云方案更是颠覆了传统的图书馆建设理念，代表着业内IT环境建设的方向和潮流，桌面云方案使图书馆的信息资源可以实现全校甚至全社会共享，未来可以拓展图书馆作为云南大学教育和科研资源，为社会人员提供服务的建设模式。利用先进的云计算技术，噢易教育桌面云为云南大学图书馆插上了信息化的翅膀！
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div><!--场景展示 结束--> <div role="tabpanel" class="tab-pane" id="settings"><!--价值效果 开始--> <div class="row" style="margin-top:70px;"> <div class="col-md-2"> <div style="background:url(../../Images/ztxhkj/cloudservice/case-zhuanshi.jpg) no-repeat center top; width:100%; height:107px;"></div> </div> <div class="col-md-10"> <div style="width:100%; padding:5px 0px;"> <p>噢易教育桌面云集中管理平台可为不同专业学生创建不同的教学场景，而且不同教学场景可根据课表计划功能自由切换，机房环境可满足不同专业学生的教学需求；</p> <p>除了学生上课使用的每次还原的"教学桌面"外，还为老师分配了"个人桌面"，"个人桌面"可保存数据并且可随时随地通过网络登录，避免老师跨学区教学而造成的桌面环境变化，可自由接入的桌面环境支持老师随时随地备课、办公；</p> <p>使用可动态分配的云端计算资源，虚拟桌面可进行多媒体广播和视频教学，而且多媒体广播和视频教学在虚拟环境中的流畅程度完全可以媲美真实的物理环境。</p> <p>通过管理平台远程管理服务器，监测云桌面和云终端，操作简单，节省人力成本，相比其他厂商在易用性、可维护性方面具有明显的优势。</p> </div> </div> </div> </div><!--价值效果 结束-->
                </div>
            </div>
        </div><!--tab 切换 结束--> <div class="col-md-12" style="margin-top:70px; width:80%;">
            <div style=" background:url(../../Images/ztxhkj/cloudservice/cloud-line.gif) no-repeat center bottom; width:100%; text-align:center; padding-bottom:15px;"> <h1 style="padding-right:85px;">查看更多案例</h1> </div> <div style="background:url(../../Images/ztxhkj/cloudservice/case-bj-img02.jpg) no-repeat center top; height:808px; width:100%;">
                <!--搜索 开始--> <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="input-group list-sous" >
                            <!--搜索框开始-->
                            <input type="text" class="form-control span2" id="case_query" placeholder="请输入案例名称">
                            <span class="input-group-btn"><button onclick="ANquery()" class=" list-ssuo" type="button" id="case_query_btn"></button></span>
                        </div>
                        <!--搜索框 结束-->
                    </div>
                    <div class="col-md-4">
                        <!--搜索结果列表 开始-->
                        <div class="panel panel-default oe-case-biaoge " style="width:278px; margin:120px 0px 0px 80px;">
                            <div class="panel-heading" style="background:url(../../Images/ztxhkj/cloudservice/dianxinganli-list-img.jpg) no-repeat center top; width:100%;	padding: 8px 16px;"> <span style="padding-left:28px;">所有案例</span> </div>
                            <table class="table" id="case_list">
                                <tr>
                                    <td class="table-datetime-td-width">2017-06-30</td>
                                    <td><a href="~/home/AnLiDetail/浙江省德清县教育局" data-toggle="tooltip" title="浙江省德清县教育局">浙江省德清县教育局</a></td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2017-06-29</td>
                                    <td><a href="~/home/AnLiDetail/安徽省无为县教育局" data-toggle="tooltip" title="安徽省无为县教育局">安徽省无为县教育局</a></td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2017-06-13</td>
                                    <td><a href="~/home/AnLiDetail/西华大学" data-toggle="tooltip" title="西华大学">西华大学</a></td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2017-06-13</td>
                                    <td><a href="~/home/AnLiDetail/四川师范大学" data-toggle="tooltip" title="四川师范大学">四川师范大学</a></td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2016-12-07</td>
                                    <td><a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例" data-toggle="tooltip" title="广东工业大学实验教学部桌面云应用案例">广东工业大学实验教学部桌面云应用案例</a></td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2016-11-18</td>
                                    <td>
                                        <a href="~/home/AnLiDetail/助推泰州市基本公共卫生服务信息系统升级" data-toggle="tooltip" title="助推泰州市基本公共卫生服务信息系统升级">助推泰州市基本公共卫生服务信息系统升级</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2016-09-05</td>
                                    <td>
                                        <a href="~/home/AnLiDetail/黄冈国土“原有业务”和“不动产业务”完美切换至云端" data-toggle="tooltip" title="黄冈国土“原有业务”和“不动产业务”完美切换至云端">黄冈国土“原有业务”和“不动产业务”完美切换至云端</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2016-08-03</td>
                                    <td>
                                        <a href="~/home/AnLiDetail/鄂州警务综合应用系统升级与虚拟化改造案例" data-toggle="tooltip" title="鄂州警务综合应用系统升级与虚拟化改造案例">鄂州警务综合应用系统升级与虚拟化改造案例</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2016-08-03</td>
                                    <td>
                                        <a href="~/home/AnLiDetail/恩施州警务综合应用系统升级与虚拟化改造案例" data-toggle="tooltip" title="恩施州警务综合应用系统升级与虚拟化改造案例">恩施州警务综合应用系统升级与虚拟化改造案例</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2016-08-03</td>
                                    <td><a href="~/home/AnLiDetail/随州市公安云平台建设案例" data-toggle="tooltip" title="随州市公安云平台建设案例">随州市公安云平台建设案例</a></td>
                                </tr>
                            </table>

                        </div>
                    </div><!--搜索结果列表 开始-->
                </div>
            </div><!--搜索 结束-->
        </div>
    </div>
</div>