@{
    Layout = "~/Views/shared/_CloudServiceLayout.cshtml";
    ViewBag.Title = "经管院实验室";
}
<style>
    body {
        background: url(../../images/ztxhkj/jiejuefangan-beijing.jpg) no-repeat left top #cdcdcd;
    }

    #listp p {
        width: 100%;
    }
</style>
@Styles.Render("~/Content/nav.css")
<div class="col-md-offset-3 col-md-9">
    <div class="row">
        <div class="col-md-12" style="width:80%;">
            <!--面包屑 开始-->
            <div class="oe-case-name"> <span class="oe-chanpin-jies02">@Html.ActionLink("计算机学院类实验室", "CloudService", new { id = "计算机学院类实验室" })</span> <span class="oe-chanpin-jies02">@Html.ActionLink("公共机房类", "CloudService", new { id = "公共机房类" })</span> <span class="oe-chanpin-jies">@Html.ActionLink("经管院实验室", "CloudService", new { id = "经管院实验室" })</span> <span class="oe-chanpin-jies02">@Html.ActionLink("多媒体教室", "CloudService", new { id = "AL多媒体教室" })</span> <span class="oe-chanpin-jies02">@Html.ActionLink("图书馆", "CloudService", new { id = "AL图书馆" })</span> <span class="oe-chanpin-jies02">@Html.ActionLink("混合应用", "CloudService", new { id = "混合应用" })</span> </div>
        </div>
        <!--面包屑 结束--> 
        <div class="col-md-12" style="margin-top:20px; width:80%;"> <div style="width:100%; background:url(../../Images/ztxhkj/cloudservice/case-shiyanshi-banner.jpg) no-repeat center top; height:240px;"></div> </div> <div class="col-md-12" style="width:80%;"><!--标题 开始--> <div class="edu-cloud-dxal" style=" background:url(../../Images/ztxhkj/cloudservice/cloud-line.gif) no-repeat center bottom;"> <h1 style="padding-right:85px;">经管院实验室</h1> </div> </div><!--标题 结束--> <!--<div class="row">&lt;!&ndash;武大 开始&ndash;&gt;--> <div class="col-md-7" style="width:45%;"> <div style="width:100%; background:url(../../Images/ztxhkj/cloudservice/hezhou.png) no-repeat center top; height:305px;"></div> </div> <div class="col-md-5" style="width:35%;"> <div> <h2 style="font-size:35px; font-weight:bold;">贺州学院经济与管理学院</h2> <p>——贺州学院经济与管理学院教育桌面云应用案例</p> <p>贺州学院经济与管理学院始创于1987年的政史科，1994年改称政史系，2002年6月更名为人文与管理系，2012年10月正式启用经济与管理学院名称。目前开设有国际经济与贸易、旅游管理、公共事业管理和财务管理四个本科专业及会计电算化、市场营销、商务管理、投资与理财、旅游管理5个专科专业。</p> <p>贺州学院经管类教学软件版本升级更新频繁，经管院计算机现有配置迭代难以与软件更新同步，运行财会类系统、ERP系统及一些实训模拟仿真教学平台会特别缓慢，导致教学活动十分不畅，课堂效率很受影响；同时，由于经管类教学所涉及到的细分实训专业课程较多，不同专业学生使用机房时需要不同的软件支持，而这些软件对硬件与系统环境的要求又不尽相同；另外，大量的计算机也造成了机房管理困难，系统更新、软件升级工作量大，且资源得不到充分利用。针对学院种种现状，贺州学院计划通过以云计算技术为基础的噢易教育云逐步建设完善学校的教学、办公IT环境。</p> </div> </div> <!--</div>&lt;!&ndash;武大 结束&ndash;&gt;--> <div class="col-md-12" style="margin-top:30px; width:80%;">
        <!--tab 切换 开始--> <div class="oe-dianxinganli-tab"> <!-- Nav tabs --> <ul class="nav nav-tabs oe-dxal-ul" role="tablist"> <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">场景描述</a></li> <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">方案配置</a></li> <li role="presentation" class="active"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">场景展示</a></li> <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">价值效果</a></li> </ul> <!-- Tab panes --> <div class="tab-content"> <div role="tabpanel" class="tab-pane" id="home"> <div class="row"> <div class="col-md-12"> <div style="width:100%; padding-top:20px;"> <p>经管中心机房利用原有旧电脑作为终端设备，部署80点噢易教育桌面云，创建4套教学场景用于不同专业的教学任务和实践课程。</p> <p>常用教学软件：Office2010、暴风影音、搜狗拼音输入法、PDF阅读器、Adobe Flash Player、培训软件等；</p> <p>服务器机房，高性能物理服务器3台，虚拟化专用，资源整合，集中化管理平台，创建虚拟机个数20多个，每套业务系统单独部署在1个虚拟机，避免软件冲突的情况发生。采用集中式管理方式，提供单一视图云数据中心管理平台，全B/S架构，管理员通过办公PC、移动终端、手机等访问管理平台，在信息中心远程就可以完成所有服务器、虚拟机的生命周期管理，资源动态调配均衡，业务部署和日常维护工作。</p> <p>部署业务：人力资源模拟教学系统、金蝶K3总账系统、商业银行柜台、用友 ERP、财务决策平台、财务分析平台、电子商务应用软件、网中网财务管理实训教学平台、会计类专业软件等等。</p> </div> </div> </div> </div> <div role="tabpanel" class="tab-pane" id="profile"><!--方案配置 开始--> <div class="row" style="margin-top:90px;"> <div class="col-md-6"> <div style="width:100%; background:url(../../Images/ztxhkj/cloudservice/fanganpeizhi-img.jpg) no-repeat center top; height:345px;"></div> </div> <div class="col-md-6"> <div class="oe-dxan-table"> <h4>贺州学院经管院教育桌面云硬件配置</h4> <table width="555" border="0" style="margin-top:30px;"> <tbody><tr style="border-bottom:1px solid #ccc; background-color:#e5e3e2;"> <th scope="col">产品名称</th> <th scope="col">详细参数</th> <th scope="col">数量</th> </tr><tr> <td rowspan="4">云服务器</td> <td class="oe-td">处理器：2路6核2620</td> <td rowspan="4">3台</td> </tr> <tr> <td class="oe-td">内  存：128GB R-ECC 1600 DDR3</td> </tr> <tr> <td class="oe-td">硬  盘：1*600GB 15K SAS+2*480G SSD</td> </tr> <tr> <td class="oe-td">网  卡：4*1000M</td> </tr> <tr style="border-top:1px solid #ccc; "> <td class="oe-td">终端设备</td> <td class="oe-td">机房旧PC</td> <td class="oe-td">80台</td> </tr> </tbody></table> </div> </div> </div> </div><!--方案配置 结束--> <div role="tabpanel" class="tab-pane active" id="messages"><!--场景展示 开始--> <div class="row" style="margin-top:30px;"> <div class="col-md-8"> <div style=" width:100%; background:url(../../Images/ztxhkj/cloudservice/hezhou02.png) no-repeat center top; height:456px;"></div> </div> <div class="col-md-4"> <div style="background-color:#e1dddc; width:100%;  padding: 48px 15px;"> <p style="font-weight:bold;">用户评语：</p> <p>贺州学院经济与管理学院部署完噢易教育桌面云之后，用友ERP等教学软件在虚拟桌面中并发运行流畅，对课堂教学有良好的改善，极大提升了课堂教学效率。在项目选型之初，我们曾对这么多虚拟桌面是否支持同时并发启动和同时创建ERP帐套、以及是否能否兼容众多的经管类系统有过顾虑，期间先后测试过无盘工作站和一系列VDI产品，在对比评估验证了这些产品的整体性能后，最终，噢易教育桌面云产品以其独特的性能优势和完善的教育教学功能成为我们的首选。经过噢易技术人员的实施，在完成噢易教育桌面云VDI和服务器Vserver部署之后，极大地简化了我们学校的系统维护管理工作，成功排除了我们的管理困扰和维护忧虑。</p> </div> </div> </div> </div><!--场景展示 结束--> <div role="tabpanel" class="tab-pane" id="settings"><!--价值效果 开始--> <div class="row" style="margin-top:70px;"> <div class="col-md-2"> <div style="background:url(../../Images/ztxhkj/cloudservice/case-zhuanshi.jpg) no-repeat center top; width:100%; height:107px;"></div> </div> <div class="col-md-10"> <div style="width:100%; padding:5px 0px;"> <p>通过部署噢易Vserver服务器虚拟化，简化ERP等教学系统的服务器系统维护管理工作，保障系统业务连续性；</p> <p>根据经管院不同的教学应用创建相应的教学场景，满足计算机基础教学和不同专业学生的上机实验；</p> <p>机房没有排课时云端计算资源可集中分配给单台虚拟机，高性能的虚拟机可用于科研和大数据处理，提高机房资源的利用率；</p> <p>给老师或学生分配的"个人桌面"可保存操作数据，老师或学生可通过网络在不同地点自由使用专属的桌面环境，满足老师备课办公、学生毕业设计等个性化需求；</p> <p>在管理平台远程管理机房教学环境，一键更新系统、升级软件，无需来到机房就可对机房环境进行管理维护，为实验中心的管理提供了极大的便利。</p> </div> </div> </div> </div><!--价值效果 结束--> </div> </div> </div><!--tab 切换 结束-->
 <div class="col-md-12" style="margin-top:70px; width:80%;">
            <div style=" background:url(../../Images/ztxhkj/cloudservice/cloud-line.gif) no-repeat center bottom; width:100%; text-align:center; padding-bottom:15px;"> <h1 style="padding-right:85px;">查看更多案例</h1> </div> <div style="background:url(../../Images/ztxhkj/cloudservice/case-bj-img02.jpg) no-repeat center top; height:808px; width:100%;">
                <!--搜索 开始--> <div class="row">
                    <div class="col-md-4"></div> <div class="col-md-4">
                        <div class="input-group list-sous">
                            <!--搜索框开始--> <input type="text" class="form-control span2" id="case_query" placeholder="请输入案例名称">
                            <span class="input-group-btn"><button class=" list-ssuo" type="button" id="case_query_btn"></button></span>
                        </div>
                        <!--搜索框 结束-->
                    </div> <div class="col-md-4">
                        <!--搜索结果列表 开始-->
                        <div class="panel panel-default oe-case-biaoge " style="width:278px; margin:120px 0px 0px 80px;">
                            <div class="panel-heading" style="background:url(../../Images/ztxhkj/cloudservice/dianxinganli-list-img.jpg) no-repeat center top; width:100%;	padding: 8px 16px;"> <span style="padding-left:28px;">所有案例</span> </div>
                            <table class="table" id="case_list">
                                <tr>
                                    <td class="table-datetime-td-width">2017-06-30</td>
                                    <td><a  data-toggle="tooltip" title="浙江省德清县教育局">浙江省德清县教育局</a></td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2017-06-29</td>
                                    <td><a  data-toggle="tooltip" title="安徽省无为县教育局">安徽省无为县教育局</a></td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2017-06-13</td>
                                    <td><a  data-toggle="tooltip" title="西华大学">西华大学</a></td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2017-06-13</td>
                                    <td><a  data-toggle="tooltip" title="四川师范大学">四川师范大学</a></td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2016-12-07</td>
                                    <td><a  data-toggle="tooltip" title="广东工业大学实验教学部桌面云应用案例">广东工业大学实验教学部桌面云应用案例</a></td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2016-11-18</td>
                                    <td>
                                        <a  data-toggle="tooltip" title="助推泰州市基本公共卫生服务信息系统升级">助推泰州市基本公共卫生服务信息系统升级</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2016-09-05</td>
                                    <td>
                                        <a  data-toggle="tooltip" title="黄冈国土“原有业务”和“不动产业务”完美切换至云端">黄冈国土“原有业务”和“不动产业务”完美切换至云端</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2016-08-03</td>
                                    <td>
                                        <a  data-toggle="tooltip" title="鄂州警务综合应用系统升级与虚拟化改造案例">鄂州警务综合应用系统升级与虚拟化改造案例</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2016-08-03</td>
                                    <td>
                                        <a  data-toggle="tooltip" title="恩施州警务综合应用系统升级与虚拟化改造案例">恩施州警务综合应用系统升级与虚拟化改造案例</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-datetime-td-width">2016-08-03</td>
                                    <td><a  data-toggle="tooltip" title="随州市公安云平台建设案例">随州市公安云平台建设案例</a></td>
                                </tr>
                            </table>
                        </div>
                    </div><!--搜索结果列表 开始-->
                </div>
            </div><!--搜索 结束-->
        </div>    </div>
</div>
